<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to ALS</title>
        {% endif %}
    </head>
    <body>
    	<nav class="navbar is-transparent is-light" role="navigation" aria-label="main navigation">
	    	<div class="container">
	    		<div class="navbar-menu">
	    			<a class="navbar-item" href="{{url_for('render_dashboard')}}">Dashboard</a>
	    			<a class="navbar-item" href="{{url_for('render_statistics')}}">Statistics</a>
	    		</div>
	    	</div>
    	</nav>
        {% block content %}{% endblock %}
        <footer class="footer">
			<div class="container">
			    <div class="content has-text-centered">
			      <p>Stanislau Fink, 2017-2018</p>
			    </div>
			</div>
		</footer>
    </body>
</html>
